.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-links a {
  margin: 8px 12px !important;
}
.nav-links a.active {
  color: var(--primary-dark);
}

.logo-link {
  display: block;
  height: 32px;
}

.logo-link img {
  height: 100%;
}

.drawer {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.drawer header {
  width: 100%;
  display: block;
  padding: 16px 36px;
  text-align: center;
}
.drawer header small {
  display: block;
  text-align: right;
}

.drawer footer {
  margin-top: auto;
  padding: 16px;
  text-align: center;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.mr-footer {
  background-color: rgb(51, 51, 51);
  color: hsl(0, 2%, 76%);
  text-align: center;
  padding: 40px 16px 16px;
  margin-top: auto;
}

.mr-footer p {
  display: inline-block;
  margin: 16px 32px;
}

.mr-footer span {
  vertical-align: middle;
  margin-right: 8px;
}

.mr-footer-logo {
  width: 192px;
  margin: 8px;
}

.mr-footer img {
  vertical-align: middle;
}

.mr-footer img + img {
  margin-left: 16px;
}

.mr-footer-logo-cgps {
  height: 56px;
  margin: 16px;
}

.mr-footer-logo-square {
  width: 96px;
  height: 96px;
  margin: 8px;
}

.mr-footer-credits {
  text-align: left;
}

.mr-footer-credits hr {
  display: inline-block;
}

.mr-footer-credits a {
  color: #fff;
  margin-right: 16px;
}

p.cgps-copyright {
  box-sizing: border-box;
  font-size: 13px;
  margin: 0;
  padding-right: 8px;
  text-align: right;
  width: 100%;
}
