.mr-project-form {
  position: absolute;
  top: 16px;
  bottom: 64px;
  right: 16px;
  vertical-align: top;
  width: 480px;
  overflow-y: auto;
}

.mr-project-form .mdl-textfield .mdl-button {
  position: static;
  height: 28px;
  line-height: 28px;
  padding: 0;
}

.mr-project-form .mdl-textfield .mdl-button:hover,
.mr-project-form .mdl-textfield .mdl-button:focus {
  background: none;
  color: #3c7383;
}

.mr-project-form .mdl-list {
  margin: 0;
  padding: 8px 0;
}

.mr-project-form .mdl-list__item {
  cursor: pointer;
  height: auto;
  letter-spacing: 0 !important;
  overflow: visible;
  padding: 8px 0;
}

.mr-project-form .mdl-list__item > i:first-child {
  align-self: flex-start;
  color: rgba(0, 0, 0, 0.54);
  padding: 8px;
  margin-right: 16px;
}

.mr-project-form .mdl-list__item-primary-content {
  margin-right: 24px;
  height: auto;
}

.mr-project-form .mdl-list__item-secondary-action {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-right: -4px; /* hack to line up with icons inside sections */
}

.mr-project-form .mdl-list__item .mdl-textfield {
  padding: 0;
  width: 280px;
  overflow-y: visible;
}

.mr-project-form .mdl-list__item .mdl-textfield__label {
  line-height: 26px;
  top: 0;
}

.mr-project-form .mdl-list__item .mdl-textfield__label::after {
  bottom: 0;
}


.mr-project-form-section {
  padding: 8px 16px;
  background-color: #fff;
}

.mr-project-form-section + .mr-project-form-section {
  margin-top: 4px;
}


.mr-project-form-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.mr-project-form-section.is-expanded .mr-project-form-header {
  margin-bottom: 8px;
}

.mr-project-form-header > i:first-child {
  font-size: 18px;
  color: rgba(60, 115, 131, 0.41);
  margin-right: 8px;
}

.mr-project-form-header > i:last-child {
  color: rgba(0, 0, 0, 0.54);
}

.mr-project-form-title {
  color: #3c7383;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  margin-right: auto;
  text-transform: uppercase;
}

.mr-project-form-header .mr-project-editor-title {
  margin-left: 8px;
  margin-right: auto;
}


.mr-project-metadata-card .mr-textfield {
  height: 44px;
}

.mr-project-metadata-card .mdl-textfield {
  width: 448px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.mr-project-metadata-card .mdl-textfield__input {
  width: calc(100% - 120px);
}

.mr-project-metadata-card div.mdl-textfield__input {
  border-color: transparent;
  padding: 8px 0 0 0;
}

.mr-project-metadata-card .mdl-textfield__label {
  position: static;
  width: 120px;
  visibility: visible !important;
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  line-height: 28px;
}

.mr-project-metadata-card .mdl-textfield__label::after {
  bottom: 8px;
  margin-left: 120px;
}

.mr-project-metadata-card .mdl-textfield.is-focused .mdl-textfield__label::after {
  width: calc(100% - 120px);
}

.mr-project-metadata-card .mdl-textfield__error {
  bottom: -12px;
}


.mr-project-files-card {
  position: relative;
}


.mr-sharing-card .mdl-list__item-sub-title {
  overflow: hidden;
}

.mr-sharing-card .mdl-list__item:last-child {
  overflow: visible;
}

.mr-sharing-card .mdl-list__item + .mdl-list__item:last-child {
  margin-top: 8px;
  padding: 16px 0;
  border-top: 1px dashed #e0e0e0;
}

.mr-sharing-card .mdl-list__item:last-child .mdl-textfield,
.mr-sharing-card .mdl-list__item:last-child .mdl-list__item-sub-title, {
  overflow: visible;
}


.mr-inline-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .87);
  display: flex;
  align-items: center;
  justify-content: center;
}