@import './variables.css';

.mr-file {
  display: flex;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.mr-file__label {
  font-size: var(--fontSizeHeadline);
  font-weight: 300;
  color: #000000;
  min-width: 88px;
}

.mr-file__checkbox {
  font-size: 30px;
  font-weight: 300;
  color: #3c7383;
}

.mr-create-project-button {
  margin: 32px;
  font-size: 20px;
  line-height: 64px;
  height: 64px;
}
