h5, h6 {
  letter-spacing: normal;
}

p {
  font-size: 16px;
}

.mr-server .mdl-layout__content {
  height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
}

.mr-server .mdl-layout__content main {
  padding: 32px 120px;
  flex-grow: 1;
}

.mr-server.mr-showcase .mdl-layout__content main.mr-upload-content {
  padding: 0;
}

.mdl-layout.is-small-screen .mdl-layout__content main {
  padding: 16px 5%;
}

._dialog_overlay {
  display: none !important;
}

.mdl-button--raised {
  background: #ECECEC;
}
.mdl-button--raised:hover:not([disabled]) {
  background: #ECECEC;
  color: #3C7383;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:hover:not([disabled]) {
	background: #3C7383;
  color: #FFFFFF;
}

.mdl-dialog {
  background: url('/images/logos/microreact.svg') #fff no-repeat;
  background-size: 256px;
  background-position: calc(100% + 202px) -8px;
}


.mdl-snackbar {
  background-color: #3C7383;
  left: 40px;
  bottom: 40px;
  transform: translate(0, 80px);
}

.mdl-snackbar--active {
  transform: translate(0, 0);
}

.mdl-snackbar__action {
  color: #A389BB;
}

.mdl-snackbar__action:hover {
  color: #663B8E;
}


.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #3C7383;
}

.getmdl-select .mdl-menu__container {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}
