.mr-partnerships > div {
  display: flex;
  text-align: center;
  align-items: center;
  /*justify-content: center;*/
  margin-top: 16px;
  margin-bottom: 32px;
}

.mr-partnerships > div img {
  max-width: 240px;
  max-height: 160px;
}
