
.root {
  width: 360px;
  min-height: 320px;
  padding-bottom: 16px !important;
}

.root :global .mr-ui-radio-list {
  margin-top: 8px;
}

.root :global .MuiFormControlLabel-root {
  height: 28px;
}

.root :global .mr-ui-radio-list :global .MuiRadio-root {
  padding-top: 2px;
  padding-bottom: 2px;
}

